# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

#-------------------------
# Composer
#-------------------------
vendor/
composer.lock

#-------------------------
# PHPUnit
#-------------------------
phpunit
/results/
/phpunit*.xml
/.phpunit.*.cache

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env
.vagrant
Vagrantfile
src/.DS_Store
build
api
src/Commands/.DS_Store
src/.DS_Store
*.lock
spark
src/.DS_Store
.php-cs-fixer.cache
